---
import ProjectCards from '../components/ProjectCards.astro';
---


<div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-10 p-10 w-full">

    <ProjectCards />
    <ProjectCards />
    <ProjectCards />
    <ProjectCards />

    <ProjectCards />
    <ProjectCards />
    <ProjectCards />
    <ProjectCards />


</div>