
<div class="p-4 rounded-2xl text-white col-span-1">
    <img src="/preview.jpg" alt="Preview" class="w-full max-h-60 object-cover rounded-md">
    <h2 class="text-2xl py-4 font-bold">Project</h2>
    <p class="text-md">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur perspiciatis esse explicabo? Laudantium deserunt vitae culpa iusto pariatur ducimus, optio voluptate? Distinctio reiciendis quis aspernatur numquam consequuntur laboriosam tempore at?</p>
</div>