---
const fuentes: string[] = [
  "Arial",
  "Courier New",
  "Georgia",
  "Tahoma",
  "Times New Roman",
  "Verdana",
  "Comic Sans MS",
];
---

<div class="w-full relative">
  <div class="absolute top-4 left-4 lg:top-12 lg:left-12 z-10 flex flex-col items-center">
    <div class="flex gap-6 text-sm lg:text-xl">
      <a href="" class="text-white">Home</a>
      <a href="" class="text-gray-400">About</a>
      <a href="" class="text-gray-400">Services</a>
      <a href="" class="text-gray-400">Projects</a>
    </div>
  </div>

  <div class="absolute bottom-4 left-4 lg:bottom-12 lg:left-12 z-10 flex flex-col items-center">
    <div>
      <span id="cambiador" class="text-3xl sm:text-5xl lg:text-7xl text-white pr-4"
        ><span class="font-bold">3D Innovate</span><br>
        Design, Modeling, & Manufacturing</span
      >
    </div>
  </div>
  <div class="mask-bottom-transparent">
    <video
      class="w-full h-screen object-cover brightness-50"
      src="/3dModelBG.mp4"
      autoplay
      loop
      muted
    >
    </video>
  </div>
</div>

<script></script>

<style>
  .mask-bottom-transparent {
    -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 40%,
      rgba(0, 0, 0, 0) 100%
    );
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 40%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  a {
    transition: all 0.3s ease-in-out;
  }

  a:hover {
    color: white;
  }
</style>
